body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

header,
footer {
  background-color: #4682b4;
  color: white;
  text-align: center;
  padding: 1em;
}

a {
  background-color: grey;
  color: black;
}

svg {
  margin-left: 30px;
}

main {
  background-color: #f0f0f0;
  max-width: 100ch;
  margin: 0 auto;
  padding: 1em;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#search-input {
  padding: 0.5em;
  width: 70%;
}

#search-icon {
  margin-left: 68%;
  position: absolute;
  background-color: white;
}

form button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

#filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#filter-icon {
  cursor: pointer;
  margin-left: 50px;
}

#active-filters {
  position: absolute;
  top: -10px;
  right: 0;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 0.75em;
}

#searchIcon {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 300px;
}

ul li {
  display: grid;
  grid-column: auto;
}

li img {
  width: 200px;
  height: 200px;
}

#filter-dialog form {
  display: grid;
  gap: 10px;
}

#apply-filters,
#close-dialog {
  cursor: pointer;
}

#close-dialog {
  margin-bottom: 8%;
  margin-left: 90%;
}

#apply-filters {
  margin-top: 10%;
  margin-left: 77%;
}

@media (min-width: 760px) {
  #filter-dialog form {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 759px) {
  #filter-dialog form {
    grid-template-columns: 1fr;
  }
}
